.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 24px;
}

.register-main {
  width: 100%;
  max-width: 500px;
}

.register-article {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-header {
  color: #70b9be;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: row;
}

.input-label {
  width: 100%;
  text-align: center;
}

.input-field-container {
  display: flex;
  gap: 10px;
}

.input-field {
  padding: 10px;
  border: 1px solid #70b9be;
  border-radius: 5px;
  width: 100%;
}

.register-button {
  background-color: #70b9be;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.login-link {
  margin-top: 15px;
}
