.filter-box{
  height: 65px;
  margin-top: 18px;
  overflow: hidden;
  transition: all 200ms ease-in-out;

  button{
    all: unset;
    margin-left: auto;
    display: block;
    color: #70B9BE;
    margin-bottom: 4px;
    font-weight: 700;

    &:hover{
      text-decoration: underline;
    }
  }
}

.filter-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 5px;

  li{
    background-color: #F1F5F5;
    padding-inline: 16px;
    line-height: 40px;
    border-radius: 20px;
    color: #0A2533;
    transition: all 200ms ease-in-out;

    &:hover{
      transform: scale(1.05);
      background-color: #70B9BE;
    }
  }
}

.see-all{
  height: fit-content;
}

