.random-food-title {
  font-size: 20px;
  margin-bottom: 12px;
  color: #0a2533;
  line-height: 130%;
}

.random-food-link {
  text-decoration: none;

  background-color: #70b9be;
  color: #fff;
  display: grid;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 16px;
  overflow: hidden;
  transition: background-color 0.3s ease;
  position: relative;
  width: 75%;
  grid-auto-rows: 1fr;
  max-width: 500px;
}

.random-food-name {
  margin-bottom: 8px;
  font-size: 1.125rem;
  line-height: 110%;
  width: 75%;
}

.random-food-link:hover {
  background-color: #f5f5f5;
}

.random-food-details {
  display: flex;
  justify-content: space-between;
}

.random-food-category,
.random-food-area {
  margin: 0;
  font-size: 0.875rem;
  color: #fff;
  line-height: 145%;
  opacity: 0.75;
}
.random-food-img-wraper {
  display: flex;
}
.random-food-img {
  height: 70%;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 25px;
}
