.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 24px;
}

.login-main {
  width: 100%;
  max-width: 500px;
}

.login-article {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-header {
  color: #70b9be;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.login-button {
  background-color: #70b9be;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.register-link {
  margin-top: 15px;
}
