
.splash-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #70B9BE;
  background-image: url(../../../assets/Images/Pattern-SplashScreen.png);
  background-size: cover;
  background-position: center;
}

.logo {
  width: 20px;
  height: auto;
}

.app-title {
  font-size: 2.5rem;
  color: #fff;
}
.splash-screen-link{
  text-decoration: none;
}