.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-inline: 22px;
  padding-block: 16px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  fill: var(--neutral-white, #fff);
  filter: drop-shadow(0px -10px 40px rgba(149, 168, 195, 0.15));
  z-index: 1;
}
.navbar svg {
  width: 24px;
  transition: opacity 0.3s ease;
  stroke: #97a2b0;
}

.navbar svg:hover {
  opacity: 1;
}

.navbar a.active svg {
  opacity: 1;
  fill: #70b9be;
  stroke: #70b9be;
}

.navbar a {
  padding-block: 12px;
}

/* @media (max-width: 768px) {
  .navbar {
    height: 40px;
  }

  .navbar svg {
    width: 15px;
    height: 15px;
  }
} */
