.details {
  --dark: #0a2533;
  --neutral-dark: #0a2533;
  max-width: 1440px;
  margin-inline: auto;
  margin-bottom: 106px;

  svg {
    width: 24px;
    stroke: #97a2b0;
  }

  button.active svg {
    fill: #70b9be;
    stroke: #70b9be;
  }

  img {
    min-width: 33%;
    max-width: 100%;
    width: fit-content;
    display: block;
    margin-bottom: -16px;
    margin-inline: auto;
    filter: drop-shadow(0px 0px 40px rgba(101, 123, 154, 0.1));
  }

  .info-card {
    background-color: #fff;
    filter: drop-shadow(0px -10px 40px rgba(101, 123, 154, 0.1));
    border-radius: 16px;
    padding-inline: 24px;
    padding-top: 40px;
    color: var(--neutral-dark);
    flex: 1;
    align-self: stretch;

    .title {
      font-size: 24px;
      line-height: 135%;
      margin-bottom: 6px;
    }

    .tags {
      color: #748189;
      line-height: 145%;
      margin-bottom: 24px;

      .category {
        font-weight: 600;
      }
    }

    .navigation {
      display: flex;
      padding: 4px;
      border-radius: 16px;
      background: #e6ebf2;
      margin-bottom: 24px;

      button {
        padding-inline: 35px;
        padding-block: 12px;
        font-weight: 700;
        line-height: 135%;
        text-align: center;
        flex: 1;
        border: none;
        border-radius: 16px;
        background-color: none;
      }

      .btn-active {
        background-color: #042628;
        color: #fff;
      }
    }

    h2 {
      color: var(--dark);
      font-size: 1.25rem;
      line-height: 130%;
    }

    .ingredients {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 24px;

      .ingredient {
        font-size: 1.125rem;
        width: fit-content;
        font-weight: 700;
        line-height: 110%;
        padding: 16px;
        box-shadow: 0px 2px 16px 0px rgba(6, 51, 54, 0.1);
        border-radius: 16px;
      }
    }

    .instructions {
      margin-bottom: 24px;

      h2 {
        margin-bottom: 24px;
      }

      p {
        line-height: 145%;
        color: #48525f;
        padding: 16px;
        border-radius: 16px;
        box-shadow: 0px 2px 16px 0px rgba(6, 51, 54, 0.1);
      }

      a {
        text-align: center;
        font-weight: 700;
        display: block;
        background-color: #70b9be;
        border-radius: 16px;
        margin-top: 18px;
        padding: 16px;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

@media (min-width: 700px) {
  .details {
    padding: 24px;
    align-items: center;
    img {
      border-radius: 32px;
      overflow: hidden;
      margin-bottom: 24px;
    }
  }
}
@media (min-width: 1280px) {
  .details {
    display: flex;
    gap: 24px;
    align-items: center;
    img {
      margin-bottom: 0;
      max-width: 50%;
    }
  }
}
