

.search-bar-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  padding-block: 24px;
  padding-inline: 24px;
}

.back-button{
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;

}