
.search-bar {
  margin-top: 44px;
  margin-bottom: 10px;
}

.search-bar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 16px;

  h1 {
    font-size: 1.5rem;
  }

}

.back-button {
  border: none;
  background: none;
  padding: 0px;
  cursor: pointer;
}

.back-button svg {
  height: 16px;
}
