.item-card{
  color: #0A2533;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 200ms ease-in-out;

  img{
    display: block;
    margin-inline: auto;
    width: 84px;
    height: 84px;
    border-radius: 16px;
    margin-bottom: 8px;
  }

  &:hover{
    transform: scale(1.1);
    background-color: #c1eaec;
  }
}

.search-item{
  color: #0A2533;
  text-decoration: none;
  padding: 8px;
  border-radius: 16px;
  display: flex;
  column-gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  align-items: center;
  justify-content: space-between;

  h1{
    font-size: 16px;
    margin-bottom: 8px;
  }


  img{
    width: 84px;
    height: 84px;
    border-radius: 16px;
    display: block;
  }

  &:hover{
    transform: scale(1.1);
    background-color: #c1eaec;
  }
}

.circle{
  background-color: #70B9BE;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.text-container{
  display: flex;
  column-gap: 8px;

  p{
    font-size: 14px;
    color: #97A2B0;
  }
}

.search-item-icon{
  background-color: #0A2533;
  min-width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.search-item-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}