.item-card{
  color: #0A2533;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 200ms ease-in-out;

  img{
    display: block;
    margin-inline: auto;
    width: 84px;
    height: 84px;
    border-radius: 16px;
    margin-bottom: 8px;
  }

  &:hover{
    transform: scale(1.1);
    background-color: #c1eaec;
  }
}