.search-bar-input{
  display: flex;
  align-items: center;
  padding: 5px 16px;
  border: 2px solid #E6EBF2;
  border-radius: 16px;
  margin-top: 10px;

  input{
    width: 100%;
    border: none;
    font-size: 16px;
    margin-left: 16px;
    line-height: 40px;
    padding: 2px 10px;
  }
}